body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
    
}

.lin, .lon {
    color: rgb(215, 9, 9);
    text-decoration: none;
}


.Menu{
    display: flex;
    list-style: none;
    padding-left: 700px;
    color: black;
    
}
.Menu li{
    margin: 0 10px;
    padding: 0 10px;
    text-decoration: none;
}

.containerInicio{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    

}
.containerD{
    display: flex;
    flex-direction: column;
}
.fotoP{
    display: flex;
    
    
}
.yo{
    width:380px; 
    height:368px;
}

.nombreT{
    font-size: 52px;
    font-style: normal;
  
    line-height: 61px;
}
.banner .descrip{
    font-size: 22px;
    line-height: 30px;
}
.banner .links{
    display: flex;
    list-style: none;
}
.banner li{
    
    padding: 0 10px;
    
}


.sobreMi{
    background-color: rgb(215, 9, 9);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    padding: 64px;
   text-align: center;
   align-items: center;
}

.sobreMi p{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.tituloS{
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;
}
.Sk{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    
}
.Sk li{
    display: inline-block;
    text-align: center;
    margin: 0 3%;
    padding: 0%;
    width: 120px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px -6px rgba(91, 91, 91, 0.733);
   
}

.Hobbies{
    padding-top: 10%;
}

.hobb{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    
}
.hobb li{
    display: inline-block;
    text-align: center;
    margin: 0 3%;
    padding: 0%;
    width: 120px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px -6px rgba(91, 91, 91, 0.733);
   
}
.tituloF{
    text-align: center;
    align-items: center;

}
.formaciones{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 252, 254) ;
    margin-top: 50px;
    padding: 20px;
}


.formu{
    display: flex; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;  
    
}
.formu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: top;
    margin: 30px 5%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 24px 32px -8px rgba(60, 60, 60, 0.905);
}
.oracle{
    width: 50%;
}
.udeo{
    width: 101%;
}
.letras{
    color: rgb(52, 52, 52);
    
    
}

.formacion{
    display:flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;  

    
}
.formacion li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 30px 5%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 24px 32px -8px rgba(60, 60, 60, 0.905);
}
.tituloF{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
}
.piece{
    width: 350px;
}

.Experiencia{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 3px;
}

.containerExp{
    display:flex; 
    justify-content: center;
    align-items: center;
    
   
    
}
.expe li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 30px 5%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 24px 32px -8px rgba(60, 60, 60, 0.905);
}

.containerB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.repo, .demo{
    text-decoration: none;
    color: #ff0000;
}
.boton1{
    border: 0.5px solid red;
    border-radius: 15px;
    color: red;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px -8px rgba(60, 60, 60, 0.905);
    width: 100px;
    height: 40px;
    font-size: 16px;
    
}

.boton2{
    color:red;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid red;
    border-radius: 15px;
    box-shadow: 0px 10px 10px -8px rgba(60, 60, 60, 0.905);
    width: 100px;
    height: 40px;
    font-size: 16px;
}
.subTitulo{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}
.formul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding-top: 10px;
}
.formulario{
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;
    width: 500px;
    height: 350px;
    padding: 20px ;
    filter: drop-shadow(0px 6px 8px #272727);
    border-radius: 6px;
}
.formulario label{
    display: block;
    margin-top: 15px;
    font-size: 20px;
}
.formulario input{
    display: block;
    padding-top: 20px;
    margin-top: 5px;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #626262;
    font-size: 20px;
}
.btnAceptar{
    position:absolute;
    left: 225px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    align-items: center;
    border: 0.5px solid red;
    border-radius: 15px;
    color: red;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px -8px rgba(60, 60, 60, 0.905);
    width: 100px;
    height: 40px;
    font-size: 16px;
}
.btnAceptar:hover{
    
    border: 0.5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: #ff0000;
}

.piePagina{
    background-color: #ff0000;
}
.pie{
    padding: 30px 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    /*header-------------------------------------------------*/
    main{
        width: auto;
    }
    header{
        background-color: rgb(241, 241, 241);
    }
    .Menu{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-left: 0;
        
    }
    .Menu li{
        display: flex;
        margin: auto;
        padding: 7px 0;
        text-decoration: none;
        justify-content: center;
       align-items: center;
    }
    /*seccion titulo----------------------------------*/
    .containerInicio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .containerD{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .yo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:250px; 
        height:300px;
    }
    
    .nombreT{
        display: flex;
        font-size: 32px;
        font-style: normal;
        
        line-height: 41px;
    }
    .banner .descrip{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 25px;
        
        
    }
    .banner .links{
        
        font-size: 15px;
        
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    /*----------------------Skills----------------------*/
    .tituloS{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }
    .Sk{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        
    }
    .Sk li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10% 0;
        padding: 0%;
        width: 100px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 0px 8px 8px -6px rgba(91, 91, 91, 0.733);
       
    }
    .imagenS{
        display: flex;
        width: 80px;

    }
    /*--------Hobbies-------*/
    .hobb{
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        
    }
    .hobb li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10% 0;
        padding: 0%;
        width: 120px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 0px 8px 8px -6px rgba(91, 91, 91, 0.733);
       
    }
/*--------------------------------*/
.formaciones{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 252, 254) ;
    margin-top: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center; 
    width: auto;
}


.formu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;  
    
}
.formu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: top;
    margin: 30px 5%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 24px 32px -8px rgba(60, 60, 60, 0.905);
}
/*--------------------- Experiencia -----------------------------*/
.Experiencia{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 3px;
}
.containerExp{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.piece{
    width: 200px;
}

.expe li{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    vertical-align: top;
    margin: 0;
    padding: 40px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 24px 32px -8px rgba(60, 60, 60, 0.905);
}
.formul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding-top: 10px;
}
.formulario{
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;
    width: 250px;
    height: 350px;
    padding: 20px ;
    filter: drop-shadow(0px 6px 8px #272727);
    border-radius: 6px;
}
.formulario input{
    display: block;
    padding-top: 20px;
    margin-top: 5px;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #626262;
    font-size: 16px;
    text-align: start;
}
.containerAceptar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.btnAceptar{
    border: 0.5px solid red;
    border-radius: 15px;
    color: red;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px -8px rgba(60, 60, 60, 0.905);
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.pie{
    padding: 10px 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
    }